[2021-01-07 00:14] qontori commented on #406
I would like to check if this is expected to be working now because I pull down the latest code and check the SendStatement.php file to see if it was updated - it is.  However, I still get the same error message.

Also, I note #405 is for PHP 8, which I am on 7.4.13.

[2021-01-07 19:01] jasonmccreary commented on #406
I believe this make occur if you are referencing a model which already exists, but you have not _traced_. Run the `blueprint:trace` command and try again. If the problem persists, I'll reopen the issue.

[2021-01-10 18:35] jasonmccreary commented on #408
I'm not sure this is a direction I'd want to head at this time. If Blueprint generated more types of code (Symfony, Laravel, raw PHP, Rails, etc), it may make sense to have a DSL like proposed here. But at this time, I worry doing so would lose the rapid development experience Blueprint aims for.

[2021-01-10 18:35] #408 closed

[2021-01-14 10:29] KimLangholz opened #410 "Errors running blueprint on fresh Laravel + Sail + Jetstream setup"
- Laravel Version: 8.22.1
- PHP Version: 8.0.0
- Blueprint Version: 1.20.1
- Platform: Linux (WSL2)
- Sail: 1.1.0
- Jetstream: 2.1.0

### Issue:

When running
[code]
I get the following error:

`[2021-01-13 13:33:15] local.ERROR: Call to a member function columns() on null {"exception":"[object] (Error(code: 0): Call to a member function columns() on null at /var/www/html/vendor/laravel-shift/blue

[2021-01-15 00:53] nathane commented on #410
@KimLangholz You mentioned using `Laravel Version: 4.1.1`. Blueprint currently requires an application running Laravel version 6.0 or higher.  Is that the issue?

[2021-01-15 03:19] ajcastro opened #411 "Use $table->foreignIdFor(Model::class) for belongsTo and other foreign id columns"
### Synopsis:
I think it is better to use `$table->foreignIdFor(Model::class)` for foreign key columns. Or maybe there should be a config to enable that feature.

This is better in terms when you change the datatype of the id column, you dont have to go all through the migration files to change the all instances.

I checked the docs and I did not see that this exists already so I post it here just

[2021-01-15 10:10] KimLangholz commented on #410
Sorry. Must have been drinking. :S Running 8.22.1. Just confirmed that the other versions I've listed is correct.

[2021-01-15 13:42] jasonmccreary commented on #410
@KimLangholz this sounds to me like a model reference is missing. Have you tried running `blueprint:trace` then running `blueprint:build`?

[2021-01-15 13:44] jasonmccreary commented on #411
While I do like this method and use it in my own application, there are mixed feelings about tying _DB layer_ migrations to _application layer_ models.

As such, this is not something I will change in v1. But maybe v2.

With that said, you are welcome to open a PR. ;)

[2021-01-15 13:44] #411 closed

[2021-01-16 13:53] Wulfheart opened #412 "Generate single model/controller directly from CLI with props"
### Synopsis:
Sometime I don't know everything in advance and want to use blueprint to generate one model with everything that is provided by blueprint (migrations already filled in, model casts, etc.).

### Proposed Syntax:
``php artisan blueprint:model Post --attributes=title:string:400;content:longtext;published_at:nullable,timestamp``

### Expected Behavior:
This will result in a temporary dra

[2021-01-16 14:14] jasonmccreary commented on #412
Personally, I don't see the value in typing long arguments on the command line. It's unreadable and prone to typos which degrade the user experience.

With that said, there are plenty of other packages which support such a syntax. Or you could make an add-on for Blueprint to offer some kind of additional command which does this.

[2021-01-16 14:14] #412 closed

[2021-01-18 12:56] tanthammar opened #413 "Decimal:5,5 error "undefined array key 1""
- Laravel Version: 8.22.1
- PHP Version: 8.0
- Blueprint Version: 1.20.2
- Platform: Mac

### Issue:
Trying to create this:
[code]
Error: "undefined array key 1"
![image](https://user-images.githubusercontent.com/21239634/104918291-d0520480-5994-11eb-90ca-838164d98f84.png)

### draft.yaml:
[code]

[2021-01-18 13:18] jasonmccreary commented on #413
The correct syntax would be:

[code]

I didn't account for internationalization.

[2021-01-18 13:18] #413 closed

[2021-01-19 09:48] tanthammar commented on #413
@jasonmccreary please reopen

Your suggestion rate:decimal:5.5 removes the error but the migration becomes a mess.

[code]

Outputs:
[code]

Also confused, should there be a trailing `comma` on the end of each row or not?
The docs has no commas but if I omit it the migrations goes crazy.

Adding a comma to each row makes the migrations nice but then I can't add a `decimal` column because I get the

[2021-01-19 11:35] dima2306 opened #414 "Support of Laravel modules?"
### Synopsis:
I've [Laravel Modules](https://github.com/nWidart/laravel-modules/) package installed and seems like all of the files are generated in the root of the project as expected. But can we add Laravel modules support? For example, I have module Admin and want to generate some files within that directory Modules/Admin.

I've tried specifying a path in the yaml file like
[code]

I think tech

[2021-01-19 12:39] tanthammar opened #416 "Error when generating relations"
- Laravel Version: 8.22.1
- PHP Version: 8.0
- Blueprint Version: 1.20.2
- Platform: Mac

### Issue:
I'm unable to get a grip on how to define the yaml file.
Following the docs does not generate the desired result.

# Relations

**Following the docs**
* gives error from the `hasMany` definition
[code]

[code]

------------------------

**When wraping the model in `{}` AND ending the lines with `,`

[2021-01-19 12:46] tanthammar opened #417 "UUID column generates a reference when `use_constraints` config option is enabled"
* Laravel Version: 8.22.1
* PHP Version: 8.0
* Blueprint Version: 1.20.2
* Platform: Mac

### Issue:
If I name a UUID column to 'uuid' Blueprint generates a foreign key to a table that doesn't exist.

### draft.yaml:
[code]

Expected outcome
[code]

Blueprint generates a foreign key to a table that doesn't exist:
[code]

[2021-01-19 12:53] nathane commented on #417
Try this syntax:
[code]

[2021-01-19 12:55] tanthammar commented on #417
Thank you.
It still doesn't generate the correct migration.

[code]

[code]

[2021-01-19 13:09] nathane commented on #417
You’re right, this should work:
[code]

Blueprint converts `uuid: uuid` to `id: uuid primary`. It’s one of those custom YAML I mentioned in the previous issue.

[2021-01-19 13:17] nathane commented on #416
Use the `softDeletes: true` YAML syntax if you’re using `{}`, see if that help.

[2021-01-19 13:19] jasonmccreary commented on #416
Looks like you're reporting two issues.

The first normally is an issue because the model references do not exist. You can run `blueprint:trace` beforehand so they are registered (and therefore not null).

The second is a syntax error. As @nathane pointed out in another thread, Blueprint uses a yaml-esque syntax. In this case the trailing comma and wrapped parenthesis are likely causing the issue.

[2021-01-19 13:19] #416 closed

[2021-01-19 13:23] jasonmccreary commented on #414
Yes, you can specify the output paths [within the config](https://github.com/laravel-shift/blueprint/blob/master/config/blueprint.php#L44) to output code wherever you like.

[2021-01-19 13:23] #414 closed

[2021-01-19 13:29] jasonmccreary commented on #417
Running Blueprint 1.20.2, the following works for me:

**Draft**
[code]

**Migration**
[code]

Are you running the latest version of Blueprint?

[2021-01-19 13:31] jasonmccreary commented on #413
@tanthammar my mistake. I was looking at the decimal and though _point_. The syntax you have for `decimal` is correct.

However, as noted in other issues you have opened, Blueprint uses a yaml-esque syntax. So while the wrapping curly braces may be allowed in YAML, they are likely causing an issue with Blueprint.

[2021-01-19 13:44] tanthammar commented on #417
I reinstalled Blueprint and double checked composer.lock, yes v1.20.2 :)

[code]

[code]

[2021-01-19 13:46] tanthammar commented on #417
My config:
[code]

[2021-01-19 14:04] tanthammar commented on #413
OK thank you, keep this closed. I'm continuing on #416 because I removed {}, but still get an error when defining relations.

[2021-01-19 14:06] jasonmccreary commented on #413
Yes, I believe that error relates to the models being _undefined_. However, you opened several tickets, so my new parent brain is not keeping track of all of them. 😅

[2021-01-19 14:07] tanthammar commented on #416
@jasonmccreary please reopen

* Removed `{}`
* removed `softDeletes`
* added models related to the relationship
* trying to get the `yaml` correct :)

[code]

Error:
[code]

[2021-01-19 14:21] jasonmccreary commented on #416
@tanthammar it's `relationships`, not `relations`. Once I made that correction, your example ran fine for me.

[2021-01-19 14:35] tanthammar commented on #416
@jasonmccreary
OMG!, I don't know how many versions I tested back and forth. + I read the docs many times.
Guess I need to learn how to read again :)
My brain converted it to what it liked :)

Thank you for swift replies and your patience with me :)

[2021-01-23 01:48] ugurcanb commented on #410
can it be
`        return config('blueprint.namespace').'\\'.($sub_namespace ? $sub_namespace.'\\' : '').$model_name;
`
on line 220 in \Blueprint\Generators\ControllerGenerator -> fullyQualifyModelReference()  method?

I was getting the same and changed it to
`        return config('blueprint.namespace') . '\\' . (config('blueprint.models_namespace') ? config('blueprint.models_namespace') . '\\' :

[2021-01-23 15:00] jasonmccreary commented on #410
@ugurcanb, if you can demonstrate this with a failing test, go ahead and implement the change in a PR. 👍

Otherwise, I'll try to take a look next week.

[2021-01-25 13:37] #417 closed

[2021-01-25 13:39] #401 closed

[2021-01-25 13:40] tanthammar opened #421 "Draft file cannot be found"
- Laravel Version: 8.24.0
- PHP Version: 8.0
- Blueprint Version: 1.20.2
- Platform: Mac

### Issue:
Passing a the name of draft file to the `blueprint:build` command returns: `Draft file could not be found`.

I created `models.yaml` in the root folder of my Laravel project. (Same dir as `draft.yaml`).
[code]

Error:
[code]

also tried
[code]

[2021-01-25 13:42] jasonmccreary commented on #421
The draft file is not an option, it's an argument. Does `blueprint:build models.yaml` work as expected?

[2021-01-25 13:47] tanthammar commented on #421
Feeling very stupid sometimes - of course it does! :)

[2021-01-25 13:47] #421 closed

[2021-01-27 11:16] tanthammar opened #422 "Morphs php annotation incorrect"
* Laravel Version: 8.24.0
* PHP Version: 8.0
* Blueprint Version: 1.20.2
* Platform: Mac

In yaml
[code]

Generated annotation in Model:
[code]

Expected:
[code]

Didn't test morphsUuid...

[2021-01-27 15:47] jasonmccreary commented on #422
This should be a pretty straightforward fix. Why don't you take a shot at the fix in a PR. :+1:

[2021-01-28 20:34] CristianH033 opened #424 "Failure with models ending with the letter s."
- Laravel Version: 8.25.0
- PHP Version: 7.4.3
- Blueprint Version: 1.21.0
- Platform: Linux

### Issue:
When trying to create a model ending in the letter s, test creation fails.
In this example I use the word "Pais" (country in Spanish).

### draft.yaml:
[code]
When I run the php artisan blueprint:build command I get this error:
![image](https://user-images.githubusercontent.com/4079493/10619469

[2021-01-28 21:45] jasonmccreary commented on #424
@CristianH033, interesting. I would have assumed the `Str::singular` and `Str::plural` would handle this automatically. I wonder if it's just one spot in the code that may not be using these functions properly. Or if there's something with the locale settings to get this to behave properly...

[2021-01-29 05:16] CristianH033 commented on #424
In the locale configuration in `config/app.php` it is set to 'es' but as far as I know, the pluralizer used by Laravel uses the English language rules as this is hard-coded in `vendor/laravel/framework/src/Illuminate/Support/Pluralizer.php` and the locale configuration does not affect it.

[2021-01-29 13:58] jasonmccreary commented on #424
@CristianH033 Blueprint definitely uses `Str::singular`/`Str::plural`. Given the result of `Str::singular('Pais')` is `Pai`, this would be a rather large rewrite.

I'm happy to use the names provided in the draft file "as is". But this would potentially be a pretty nasty breaking change.

For those reasons, I worry this may not get "fixed" until v2. I welcome any PRs or exploration you might want

[2021-02-02 10:23] banago commented on #164
Hi @jasonmccreary,

The view generator seems to be ready, but it's lacking some basic docs. It's also tagged with the v2 label. I don't see a v2 branch though.

What are the plans for officially supporting the view generator?

I'm new to Blueprint, but I'm loving it so far - such a wonderful tool. Thank you for creating it.

[2021-02-02 14:11] #422 closed

[2021-02-02 14:15] jasonmccreary commented on #164
Yes, there is a very basic [ViewGenerator](https://github.com/laravel-shift/blueprint/blob/master/src/Generators/Statements/ViewGenerator.php) which simply outputs templates. You are welcome to swap out that generator with your own.

"v2" has not been started yet. Maybe mid-2021. I would not wait though. ;)

[2021-02-07 16:44] Wulfheart opened #429 "Adding bleuprint:init as alias for blueprint:new"
I'd contribute this. It just keeps annoying me as I want to use it like ``git init``.

[2021-02-07 19:36] jasonmccreary commented on #429
You could just make a system alias. But if you want to PR it, go for it.

[2021-02-07 19:40] Wulfheart commented on #429
I use 5 different systems for laravel development. This becomes tedious quickly.

[2021-02-09 02:58] kpruhs commented on #410
FWIW:  I have been having this problem and seem to have "fixed" it. The error I'm getting points to line 251 of TestGenerator.php (vendor/laravel-shift/blueprint/src/Generators/TestGenerator.php).

I believe it is due to the lack of specifying a condition on else. The if checks to see if the $local_model var is not null, plus another condition. The else condition essentially tries to process anyth

[2021-02-09 14:52] jasonmccreary commented on #410
I'll try to take a look at this later in the week. But if it fixes your issue and doesn't break any other tests, go ahead and open a PR for it.

[2021-02-09 19:39] KimLangholz commented on #410
After running 'blueprint:trace' I got: "Traced 14 models" which matches the number of models I am trying to build.

Running 'blueprint:build' afterwards got me no further than initially.

[2021-02-13 15:49] natecorkish opened #430 "Nested Resources"
### Synopsis:

The ability to generate nested resources for other models/controllers. For example:

A job can have many comments, but a course could also have many comments, and they would use a Comment model, with a commentable morph (which we can do already), now to comments on a job, to do this Laravel's way you can do:

web.php

[code]

JobCommentController.php

[code]

Currently we don't have

[2021-02-16 22:31] Kenifornication opened #431 "Option to generate nullable rules in FormRequest"
### Synopsis:
The nullable fields defined in the draft could maybe also be set as nullable in the StoreRequest/UpdateRequest rules generated by Blueprint, unless there's a reason why they aren't? it's just odd to me that Blueprint generates rules for every field option except for the nullable option.

Why? because validation fails on empty/null fields. This is a fairly quick edit for the dev to fi

[2021-02-17 01:00] jasonmccreary commented on #431
Blueprint should generate the validation rules for any attribute you list within the `validate` statement.

If you're looking to generate these via the `resource` shorthands, then I'm open to that being added as a config option, similar to `fake_nullables`. Feel free to start a PR, otherwise, I'll may revisit this in the next live-stream.

[2021-02-17 09:31] Kenifornication commented on #431
I forgot to specify that in the OP. Yeah, I'm talking about the resource shorthand. I'm of the "generate everything then chop it down as you go"school of thought.

Yeah sorry I'm really a PHP rookie, not yet at that "contributes to open source projects" level yet lol

Just out of curiosity, why would you make it an option and not a default behavior? is it something to do with tests?

[2021-02-17 13:27] jasonmccreary commented on #431
The form request should be catered to the form data. I don't think it's always the case that all model attributes are being sent for the `store` and `update` requests.

So it's a catch either way, either those that are sending all model attributes add the `nullable` fields, or those that aren't delete the `nullable` fields. Neither is a good experience. So I think an options that explicitly enable

[2021-02-18 21:31] tanthammar opened #432 "Duplicated return type declarations"
- Laravel Version: 8.28.1
- PHP Version: 8
- Blueprint Version: dev-master as 1.21.0
- Platform: Mac

### Issue:
- Related to PR #404
- **Model** problem: For each relation the return type declaration is duplicated.
- **Controller** problem: Return type declaration **only** generated for `index`, `create`, `store`, the other resource methods doesn't have a return type.

### draft.yaml:
[code]

Mod

[2021-02-20 13:41] jasonmccreary commented on #432
@nathane, would appreciate your input on this.

[2021-02-21 00:51] nathane commented on #432
I’ll take a look 👀

[2021-02-21 02:35] nathane commented on #432
Took care of it! 💪🏾

[2021-02-22 20:38] justin713 commented on #410
@kpruhs: I tried your `else if` in the same place and also got all the way through the `blueprint:build` command. However, I think it might be related to a bad reference in `drafts.yaml` which caused `$local_model->hasColumn` to fail.

I'll defer to those that know much more, but wouldn't it be preferred to have this check fail and throw an error with contextual information on which definitions in

[2021-02-23 01:13] IamShazaam commented on #406
dont get it why would they make a tutorial and there is an error in the beginning with no explanation...

[2021-02-23 15:21] tanthammar commented on #432
The PR #433  resolves this issue.

[2021-02-23 15:21] #432 closed

[2021-02-23 19:19] nathane commented on #410
Hey @KimLangholz,

Sorry for the late reply, I've been very busy.

1. In your draft file you defined `Episode` resource **controller** but you did not define an `Episode` **model**.
2. In your draft file you defined `Character` resource **controller** but you did not define a `Character` **model**.

Because these Models were not defined blueprint returns `null` and calling `->columns()` on null is

[2021-02-23 20:38] jasonmccreary commented on #406
@IamShazaam, not sure what you're referring to. I can successfully run `blueprint:build` using the example `draft.yaml` in the `README` with Laravel 8 + PHP 8. Not sure your issue… 🤷

[2021-02-24 14:38] ffmit opened #434 "Model definition using string generates faker words which are too long"
- Laravel Version: #.#.#
- PHP Version: 7.4.15
- Blueprint Version: "laravel-shift/blueprint": "^1.22"
- Platform: Windows
- Faker version: "fakerphp/faker": "^1.9.1"

### Issue:
When using pretty short string field definitions, below 8, the seeding fails due to "Database field length exceeded".
I guess this is because the generated factory request creation of faker "word"
`'tag' => $this->faker->

[2021-02-25 21:56] IamShazaam commented on #406
I just deleted my post, the problem was that I used the migrate outside vagrant ssh. I just dont like this frameworkd, I learned to code the old way from the ground to just find out there is frameworks that do everything for you. But its just opinions, the framework works as it should.

Thanks.

[2021-03-03 06:04] marsd opened #436 "Controller not importing App/Models/Model from traced models"
I have a set of existing Models in `App/Models` namespace that have been successfully traced. However, the generated Controller does not import the correct namespace.

Am I missing something in draft.yaml to reference the correct Model?

.blueprint
[code]

draft.yaml
[code]

config
[code]

CommunityController.php
[code]

[2021-03-03 06:15] marsd commented on #436
I have just tried adding a model declaration in draft.yaml, which causes the Controller to correctly reference the model.  However it overrides the existing model.

I can move my existing models to a different location and replace the generated ones later, but that don't seem to be ideal. Is there another workaround for this?

[2021-03-04 19:43] nathane commented on #410
Hey @jasonmccreary, feel to close this issue, it has been resolved.

[2021-03-04 22:32] jakub-wolowski commented on #436
@marsd Maybe you can try the `--skip` / `--only` parameters to the `blueprint:build` command - it should let you avoid overwriting the existing models.

[2021-03-04 23:58] #410 closed

[2021-03-04 23:59] #429 closed

[2021-03-05 00:03] #434 closed

[2021-03-05 00:09] nathane commented on #429
@Wulfheart Hey 👋, got this working for ya! Give it a test drive. 😎

[2021-03-05 00:10] jasonmccreary commented on #436
@marsd, it doesn't seem like it's tracing the `Community` model. Can you verify the `.blueprint` file contains a record for `Community` after running `trace`?

[2021-03-05 19:07] CristianH033 opened #439 "Error using pagination in index method"
- Laravel Version: 8.31.0
- PHP Version: 7.4.3
- Blueprint Version: 1.22.0
- Platform: Linux

### Issue: Error using pagination in index method.
Hello.
When I define a controller specifying the resource type as `resource: api` and in the `index` method it is specified as `query: all` and `resource: 'paginate:posts'`, as shown below:
[code]

The above code generates the following files:
![imagen](h

[2021-03-05 20:24] #424 closed

[2021-03-05 20:25] CristianH033 commented on #424
Closed because it is a bug related to the laravel pluralizer not to this package.

[2021-03-05 20:27] jasonmccreary commented on #424
Yes, unfortunately that's what I figured.

[2021-03-09 05:15] roni-estein opened #440 "Default values for boolean and integer come out as strings in migrations,"
- Laravel Version: 8.31.0
- PHP Version: 7.4.14
- Blueprint Version: dev-master
- Platform: Mac | Windows | Linux

### Issue:
default for boolean and integer come out as strings, should be numeric or boolean per docs.

### draft.yaml:
[code]

[code]

[2021-03-09 14:50] eduardoarandah opened #441 "Fix pluralization in laravel shift code generation for non english words"
### Synopsis:

For **non english** words, **pluralization** doesn't work well.

I see that under the hood, laravel uses **inflector**, and inflector allows other languages:

https://www.doctrine-project.org/projects/doctrine-inflector/en/2.0/index.html#usage

### Proposed Syntax:

It would be awesome allowing the user to set their language somewhere to get correct pluralizations

`Language::SPANIS

[2021-03-09 17:40] roni-estein opened #442 "Name-spacing Error in related class imports in factory when using name-spaced model"
- Laravel Version: 8.31.0
- PHP Version: 7.4.14
- Blueprint Version: dev-master
- Platform: Mac | Windows | Linux

### Issue:

### draft.yaml:
[code]

It actually works quite well it looses track of the name space of the other components. It will create the what appears to be the correct files, however  the namespace will always be the current namespace and not the actual namespace.

[code]

This

[2021-03-17 11:12] sr57 opened #443 "Create a model based on a sql view"
### Synopsis:

https://laracasts.com/discuss/channels/laravel/blueprint-extension

### Proposed Syntax:
[code]

### Expected Behavior:
Create the migration and the  model

[2021-03-17 12:32] jasonmccreary commented on #443
This will probably be best as an extension or even it's own package.

[2021-03-17 12:32] #443 closed

[2021-03-17 12:36] jasonmccreary commented on #441
Part of me feels like this would be better served within Laravel itself. To start improving the internationalization of the plural words. I think Laravel may even use another package underneath.

In the meantime, I would rather have a syntax that allows you to define it inline.

Something like:

[code]

[2021-03-17 12:55] jasonmccreary commented on #440
@roni-estein, is this still an issue? I thought @nathane had a recent fix for this...

[2021-03-17 13:16] roni-estein commented on #440
Yeah just did a composer update even on dev master, it's still the same.

[2021-03-17 13:17] jasonmccreary commented on #440
Okay. I'm probably going to live-stream Friday to get caught up on these. If it's still lingering, I'll get this patched.

[2021-03-17 17:39] sr57 commented on #443
Hi @jasonmccreary
Thanks for reply.
Did you read my post on Laracast, I need some guidance to do it well.

[2021-03-19 12:44] henriquecm opened #444 "Create a JSON schema for IDE suggestion/validation/completion"
### Synopsis:
Having a json schema would allow IDEs to give suggestions while editing the yaml file and could also validate it.
This file could come with the package or hosted online.
I know that at least PHPStorm has support for this, and VSCode has a extension.

### Proposed Syntax:

### Expected Behavior:

[2021-03-19 13:31] #440 closed

[2021-03-19 14:28] jasonmccreary commented on #444
This would be really cool. I'm not familiar with creating these. Do you have any references you could link or experience creating these yourself?

[2021-03-19 14:31] #436 closed

[2021-03-19 19:03] #442 closed

[2021-03-22 13:24] henriquecm commented on #444
I'll try to make a json schema with what I know, but I am new to laravel-blueprint

[2021-03-22 13:27] jasonmccreary commented on #444
Totally fine. Understanding the schema is what will help. From there I, or someone in the community, could fill in the blanks.

[2021-03-22 16:56] sr57 opened #448 "Info not generared view files"
### Synopsis:
Generators/Statements/ViewGenerator.php

### Proposed Syntax:
// TODO: mark skipped ...
$output['info'][] = "already exists $path";

### Expected Behavior:

[2021-03-23 19:51] sr57 opened #450 "View creation"
- Laravel Version: 8.33.1
- PHP Version: 7.4.3
- Blueprint Version: 1.23
- Platform: Linux

Bug or I don't understand the doc

https://laracasts.com/discuss/channels/general-discussion/laravel-blueprint-view-creation

### Issue:
The blade generated view is blank.
[code]

### draft.yaml:
[code]

[2021-03-23 20:21] jasonmccreary commented on #450
There is no view code generation by Blueprint. I believe there are add-ons which may do it.

However, is the `post.index1` literally being generated?

[2021-03-23 21:30] sr57 commented on #450
Thanks for your reply.
Don't understand your question : resources/views/post/index.blade.php is generated (content in the 'issue part' of this msg)
I'll re-read the doc and maybe do a PR on it.

[2021-03-23 23:15] jasonmccreary commented on #450
No worries. I'll check myself. Either way, Blueprint does not generate any code within the view other than the template itself.

[2021-03-23 23:15] #450 closed

[2021-03-24 19:08] sr57 opened #451 "Bug? in show function."
Laravel Version: 8.33.1
    PHP Version: 7.4.3
    Blueprint Version: 1.23
    Platform: Linux

### Issue:
Generated
[code]
Expected
[code]
Source concerned : ControllerGenerator / buildMethods

Proposed solution
in ControllerGenerator / methods loop, add
$body = "        $variable = $context::where('id',\$id)->first();".PHP_EOL;

PS : route (web.php) is also concerned, but I don't the workaround

[2021-03-25 04:28] nathane commented on #451
Unless i'm missed something, this is not a bug, we are using this syntax to take advantage of Laravel's [Route Model Binding](https://laravel.com/docs/8.x/routing#implicit-binding)

[2021-03-25 07:06] sr57 commented on #451
Hi @nathane

Thanks, for your reply, when I used the generated code I get a '404 page not found', ... is-this a bug ? or another misunderstanding of mine?

[2021-03-25 07:38] sr57 commented on #451
Hi @nathane

Thanks for your reply. GOOD POINT for the second objective of Blueprint, new to Laravel, I don't have every 'magic' in mind.
That said, when I used the generated code, I get a '404 page not found' so I had to add the following route

Route::get('/post/show/{post}', [App\Http\Controllers\PostController::class,'show']);

Is this a bug? or another misunderstanding of mine?

[2021-03-25 10:31] tabacitu commented on #385
@jasonmccreary assuming v2 won't be here anytime soon, what do you think about solving this small inconvenience by using L7 conventions for L7 users, and L8 conventions for L8 users?

I've just tried this and it worked fine:

[code]

---

BUT. This could _still_ be considered a breaking change for devs who:
- already have Blueprint installed on L8
- do not have the config file published
- do a `co

[2021-03-25 12:39] jasonmccreary commented on #385
@tabacitu, as you noted, this path still has breaking changes for existing users. As such, this is something that will need to wait until v2. It's not a large enough change alone to warrant a new version release. There's still some syntax I want to refine first.

[2021-03-25 15:41] #451 closed

[2021-03-25 23:51] sr57 opened #452 "redirect()->with('message', ...)"
### Synopsis:
cf examples here : https://www.itsolutionstuff.com/post/laravel-7-flash-message-exampleexample.html
If it's possible, let me know how and I'll do a PR in the doc.
If not and if this should be valuable and want me to propose a solution, just guide me where/how to better do this update.
https://www.itsolutionstuff.com/post/laravel-7-flash-message-exampleexample.html
### Proposed Syntax

[2021-03-25 23:57] nathane commented on #452
Have you tried the `flash` controller statement?

https://blueprint.laravelshift.com/docs/controller-statements/

[2021-03-26 06:52] sr57 commented on #452
Hi @nathane

Yes but without success, can you give an example of yaml syntax to generate my example?

[2021-03-26 17:19] sr57 opened #453 "Wrong routes order"
Laravel Version: 8.33.1
PHP Version: 7.4.3
Blueprint Version: 1.23
Platform: Linux

### Issue:
Let's imagine we want 2 index views (index & index2 - 2 choices to be decided by users for instance).
The generated routes (web.php) do not work
[code]
It should be
[code]

### draft.yaml:
[code]
### propose solution(s):
file : RouteGenerator.php
1) Easiest - resource routes at the end
#453            $r

[2021-03-26 17:22] jasonmccreary commented on #453
Why do they "not work"? What's the error when the routes are generated in the current order?

[2021-03-26 17:24] sr57 commented on #453
SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for type bigint: "index2" (SQL: select * from "posts" where "id" = index2 limit 1)

due to the fact that the route does not call index2 function.

[2021-03-26 17:26] jasonmccreary commented on #453
I don't think that has anything to do with the routes, but likely your code within `index2` action.

[2021-03-26 17:26] #453 closed

[2021-03-26 17:27] sr57 commented on #453
As I wrote the code is not called.

[2021-03-26 17:32] sr57 opened #454 "Wrong routes order"
Please @jasonmccreary , review issue #453 it should not be closed.

[2021-03-26 17:50] jasonmccreary commented on #454
Do not open additional issues referencing issues with which you disagree with previously closed issues. This is will only result in being ignored on anything you open in the future.

[2021-03-26 17:50] #454 closed

[2021-03-26 17:56] sr57 opened #455 "Wrong routes order - ter"
See #453 & 454

Do not close issue without explanation or I'll no more send any comment to this project.

[2021-03-26 17:59] #455 closed

[2021-03-27 04:22] nathane commented on #452
@sr57, inside of [`tests/fixtures/drafts`](https://github.com/laravel-shift/blueprint/tree/master/tests/fixtures/drafts) you will find example draft files. here is one using the `flash` statement.

https://github.com/laravel-shift/blueprint/blob/9865ae885b2df5b62421641579b137077e40607c/tests/fixtures/drafts/readme-example.yaml#L1-L21

[2021-03-27 15:06] sr57 opened #456 "Wrong routes order - 4"
See  453, 454 , 455

https://laracasts.com/discuss/channels/laravel/2-different-webphp-same-routes-1-error

[2021-03-27 21:44] #456 closed

[2021-03-27 23:45] #448 closed

[2021-03-28 10:23] sr57 commented on #452
Thanks @nathane for your reply but it does not answer to the question, the flash acts an a defined variable.

[2021-03-28 12:08] jasonmccreary commented on #452
This syntax is not supported. You may only reference variables, not create new ones.

A reminder Blueprint is a rapid code generation tool, not a 1:1 replacement for writing Laravel.

[2021-03-28 12:08] #452 closed

[2021-03-28 21:52] sr57 opened #457 "Post build script"
### Synopsis:
call a post_build empty/user customizable function at the end of build command.

### Proposed Syntax:
Just :
 - define the name of post build script in the doc.
 - have access to the config tree in order to be able to make changes depending of the config .yaml file.

### Usage:
- Small adjustments (add standard personal routes, ... )
- Some can be 'standard' of them could be shared l

[2021-03-28 21:57] sr57 opened #458 "No duplicate route"
### Synopsis:
As written in the doc erase command is not perfect, nevertheless it's a useful command during tests , the main pb is that each new build creates duplicate routes.
Do not write routes that already exist.

### Proposed Syntax:
None.

### Expected Behavior:
No duplicate routes.

Proposes solutions:
1) test if exist before each new route generation
2) use Post build script (see previous

[2021-03-28 22:32] jasonmccreary commented on #457
This can be achieved with a custom "Generator". Any user registered generator would be run _after_ all the core generators.

[2021-03-28 22:32] #457 closed

[2021-03-28 22:35] nathane commented on #457
Docs: [https://blueprint.laravelshift.com/docs/extending-blueprint/](https://blueprint.laravelshift.com/docs/extending-blueprint/)

[2021-03-29 16:39] sr57 commented on #457
Hi @jasonmccreary @nathane

Ok with your solution, we can also create a Laravel command to excecute blueprint build and other stuffs in a row both even both solutions are not difficult, my proposition was to have st immediate.

That said, my first intention was to update the doc (PR) with your answers but it is rather complete and updating a doc is a bottomless pit. So I thought of writing this FA

[2021-03-31 10:43] uyab opened #459 "Wrong Docblocks for controller method"
- Laravel Version: 8.35.1
- PHP Version: 8.0.3
- Blueprint Version: 1.32.1
- Platform: Mac

### Issue:

![image](https://user-images.githubusercontent.com/149716/113132198-52d62a80-9248-11eb-9d10-ab3d66b12b8e.png)

### draft.yaml:
[code]

[2021-03-31 12:24] jasonmccreary commented on #459
This doesn't really have anything to do with Blueprint, but your IDE. See if it has some kind of Laravel plugin which knows the global helpers.

[2021-03-31 12:24] #459 closed, assigned to nobody

[2021-04-01 01:47] uyab commented on #459
But by definition, Laravel `view` helper return `\Illuminate\Contracts\View\View|\Illuminate\Contracts\View\Factory`: https://github.com/laravel/framework/blob/8.x/src/Illuminate/Foundation/helpers.php#L891

Shouldn't the generated Controller method (index, create, and edit) follow that typehint?

[2021-04-02 07:21] sr57 opened #461 "Erase <Model>StoreRequest & UpdateRequest"
### Synopsis:
The erase command could also erase the files [Model]StoreRequest.php & [Model]UpdateRequest.php

### Proposed Syntax:
None

### Expected Behavior:
Delete these files that will be recreated with the next build command.

[2021-04-02 09:42] sr57 opened #462 "Nullable not written in validation rules"
Laravel Version: 8.33.1
PHP Version: 7.4.3
Blueprint Version: 1.23
Platform: Linu

### Issue:
Code generated in TagStoreRequest.php
[code]
expected 'tag_id' => ['integer'],
[code]

### draft.yaml:
[code]

[2021-04-02 12:31] jasonmccreary commented on #462
This is by design as the fields specified for `validate` are considered required.

There is an open issue (#431) to allow this behavior via a configuration option.

Closing as duplicate.

[2021-04-02 12:31] #462 closed

[2021-04-02 12:31] #461 closed

[2021-04-02 12:32] jasonmccreary commented on #461
Please add the necessary details.

[2021-04-09 09:39] WhalesHaveAccents opened #464 "Call to a member function columns() on null"
- Laravel Version: 8.12
- PHP Version: 8.0.3
- Blueprint Version: 1.23
- Platform: Mac

- Issue:
After running php artisan blueprint:build I get the following error:
Call to a member function columns() on null
[code]
I found a solution by googling it, but not sure if it's correct or not??? can someone confirm it's the right approach or an error in my yaml file?

[code]
### draft.yaml:
[code]

[2021-04-09 09:48] nathane commented on #464
A patch was released to address this, run `composer update` to update Blueprint.

[2021-04-09 09:55] WhalesHaveAccents commented on #464
I'd have thought it would come down when I ran `composer require --dev laravel-shift/blueprint` this morning when I installed it on a fresh project, not have to do an update as well??

I was aware of it the other day, and fixed it by the method above, but been testing other stuff, so I left it until I needed to reinstall it on another project to see if it had been picked up...

Guess folks have to

[2021-04-09 11:27] jasonmccreary commented on #464
@WhalesHaveAccents, did running `composer update` solve the issue?

[2021-04-09 14:46] WhalesHaveAccents commented on #464
@jasonmccreary Nope!

Steps I have done....
 - Installed package `composer require --dev laravel-shift/blueprint`
- did my own fix, it worked
- ran `composer update`
- thought it had fixed it, went out....
- came back saw your reply
- removed the package completely to test make sure the composer update worked...
- ran `composer require --dev laravel-shift/blueprint` V1.23
- ran `composer update`

[2021-04-09 15:12] jasonmccreary commented on #464
@WhalesHaveAccents okay. I'll have to dig into it as I'm not sure why `$local_model` would be `null` at this point.

Can you supply a relevant `draft.yaml` file. Ideally something a bit more condensed which recreates the issue.

[2021-04-09 15:16] WhalesHaveAccents commented on #464
This is my full file I try to run..
[code]

[2021-04-09 16:55] sr57 commented on #464
You should use singular name for model : PartnerWaterPegs -> PartnerWaterPeg

Laravel will then generate : partnerwaterpegs table in the db

and for me the generated views directory should be also in plural : partnerwaterpegs

but blueprint generates : partnerwaterpeg , it's not a pb, but seems to not be the standard?

[2021-04-09 18:25] sr57 opened #465 "Pre generator script"
### Synopsis:

Launch a user defined script at the beginning of the command blueprint:build

Ability de review draft.yaml (no s at the end of a model name, ...) for existing syntax and user defined ones (sql views creation, ...)

### Proposed Syntax:
None except a standard name for the script to be executed if exists.

### Expected Behavior:

[2021-04-10 07:39] WhalesHaveAccents commented on #464
@sr57

oddly I did that at the start as I was building the file and it didn't seem to follow bp when it generated it...

[2021-04-15 16:35] #464 closed

[2021-04-20 07:17] tabacitu opened #469 "[Proposal] Support fully-qualified class names in relationships"
First of all: 100% willing to create a complete PR for this, with tests and docs. Just saying 😀

### Synopsis:

When creating Models with relations, we found it's impossible to reference existing models that are in different directories than the configured one (`app` or `app\Models`, whatever):

You can do:
[code]

But you _can't_ do:
[code]

because the generated relationship will then point to `

[2021-04-20 18:11] ghostwriter commented on #439
Hey @CristianH033, just pushed a pr to solve this.

ps. you no longer need to define `query: all` when you define `resource: 'paginate:{model}'`.

[code]

[2021-04-21 12:41] jasonmccreary commented on #469
@tabacitu, totally open to the prefix `\` syntax to represent a FQCN relationship. Feel free to PR it if you have it. Or it might be something I live-stream later this week. 👍

[2021-04-21 13:15] #439 closed

[2021-04-21 16:09] tabacitu commented on #469
Awesome! I've submitted https://github.com/laravel-shift/blueprint/pull/471 - so I'll close this issue. I'll open another issue about adding the same feature in other places - I have a few ideas, which includes refactoring that PR to something reusable.

Feel free to not use this PR at all if you don't like the solution and would like to livestream a better one 😀 It's not the cleanest code in the

[2021-04-22 13:27] #469 closed

[2021-04-25 18:42] sr57 opened #474 "TestGeneraor - call to a member function column() on null - line 252"
Laravel Version: 8.33.1
PHP Version: 7.4.3
Blueprint Version: 1.23
Platform: Linux

### Issue:
TestGeneraor - call to a member function column() on null - line 252

### Correction
line 252 : if ( ! is_null($local_model) ) {

### draft.yaml:
no model

### use case
To create sql view we need to have all the tables created (included pivot) so to divide draft.yaml in 2 or more parts. First one with th

[2021-04-25 18:50] sr57 opened #475 "Have access to all models (included those in cache)"
### Synopsis:
None

### Proposed Syntax:
change models function in Tree.php to return $this->models rather than $this->tree['models']
or
add a new function

### Use Case
See previous issue #474  , when draft.yaml is splitted in two, the first one containing no model.

[2021-04-25 19:18] jasonmccreary commented on #475
As noted before, do not open multiple issues referencing a previous issue. Please open a single issue using the proper template for a bug or issue a PR directly with the fix.

[2021-04-25 19:18] #475 closed

[2021-04-25 19:19] jasonmccreary commented on #474
@sr57, please provide a sample `draft.yaml` file to recreate the issue.

[2021-05-16 23:46] mansourcodes opened #476 "Call to a member function columns() on null when added validate to controllers"
I have this draft file for `laravel Blueprint` that works fine,

but showing an error when added the comments lines of `validate: status,amount,user_id` or `validate: payment`

[code]

Error:
<img width="865" alt="Screen Shot 2021-05-17 at 2 42 14 AM" src="https://user-images.githubusercontent.com/3064487/118416776-f0cb6a80-b6b9-11eb-8391-d1e561c22435.png">

StackOverflow question:
https://stackov

[2021-05-17 01:38] ghostwriter commented on #476
Hey @mansourcodes,

What version of Laravel and PHP are you using?

[2021-05-17 11:32] mansourcodes commented on #476
Laravel 8
PHP 8

[2021-05-18 21:13] ghostwriter commented on #476
@mansourcodes Thanks for proving that information. I've submitted a pr #477 to fix this.

[2021-05-18 21:17] ghostwriter commented on #474
@sr57 I've submitted a pr #477 to fix this.

If you're still having problems feel free to provide a sample `draft.yaml`, as JMac previously stated,  so we can properly test and fix the issue. :)

[2021-05-19 19:17] mindfullsilence opened #478 "Migration path cannot be changed without duplicating the entire MigrationGenerator class"
### Synopsis:
The migration path is a hard-coded string in MigrationGenerator, and cannot be customized with simple conventions. This is necessary for some installations such as multi-tenancy, where migrations for tenants are placed in a subdirectory like "database/migrations/tenants".

### Proposed Syntax:
Options 1: Change the MigrationGenerator class such that the `$files` property is a protect

[2021-05-19 20:53] #474 closed

[2021-05-19 20:53] #476 closed

[2021-05-19 20:53] jasonmccreary commented on #474
@sr57, can you set your dependency to `dev-master` and confirm the latest patch resolves this issue?

[2021-05-19 20:54] jasonmccreary commented on #476
@mansourcodes, can you set your dependency to `dev-master` and confirm the latest patch resolves this issue.

[2021-05-19 22:10] mansourcodes commented on #476
@jasonmccreary Thanks, work great

[2021-05-20 13:07] jasonmccreary commented on #478
@mindfullsilence, this sounds fine. Feel free to open a PR to get things started or I'll see if I can live stream something next week.

[2021-06-03 18:58] rafapaulino opened #479 "Change propriety of variable three to protected"
### Synopsis:
In Blueprint\Generators\ModelGenerator; There is a private propriety called $tree - line 18;
When I extends ModelGenerator, I get a error in line 435 because  $tree is private.
`$model = $this->tree->modelForContext($model_name);`

This is my code:
[code]

I change my stub because I need pass my Traits for uuid inside the model, but when I run de code, I get the error with the privat

[2021-06-07 23:45] ProjektGopher commented on #42
What if policy was a shorthand, like timestamps and timestampsTz?

It seems like policies will pretty much always be used with the User model, so in the spirit of speed:
`
controllers:
  PostController:
    policies
    # ...
`

[2021-06-10 08:16] pktharindu opened #480 "Allow plural route naming convention"
### Synopsis:

First of all, thank you so much for this amazing package! It saves me a ton of time.

I'm not sure whether this is intentional, but according to Laravel and REST naming conventions, the route URIs should be in plural form.

**Refferences:**

- https://github.com/alexeymezenin/laravel-best-practices#follow-laravel-naming-conventions
- https://restfulapi.net/resource-naming/
- https:/

[2021-06-15 20:53] adgower opened #482 "Many to Many Polymorphic"
### Synopsis:
I would like to be able to dynamic generate many to many polymorphic relationships using blueprint. For example: Posts and Images have multiple Tags.

### Proposed Syntax:
[code]

### Expected Behavior:
Generates
- Models: Post, Image, Tag
- with relationships
- tables: posts, images, tags, taggables

[2021-06-16 02:03] jasonmccreary commented on #482
This should already be supported. Is it not?

[2021-06-16 02:05] jasonmccreary commented on #479
Do you want to open a PR for this?

[2021-06-16 02:07] jasonmccreary commented on #480
I am open to adding a configuration option for generating plural routes, view, etc. However, per the previous PR, this is not a small task. I will leave this open for the community to implement if wanted.

[2021-06-16 02:07] adgower commented on #482
I apologize is it is. I didn't see it on the docs, but I'm fairly new to blueprint.

[2021-06-16 11:24] jasonmccreary commented on #482
You are correct, it is not in the docs. I thought someone had issued a PR recently, but they did not.

Here is an [example fixture](https://github.com/laravel-shift/blueprint/blob/master/tests/fixtures/drafts/polymorphic-relationships.yaml) from our test suite that aligns nicely with your example to demo the syntax.

[2021-06-16 14:11] adgower commented on #482
Hey Jason,

That example generates a One to Many Polymorphic relationship. I would like to generate a Many to Many Polymorphic relationship. If I am misunderstanding let me know. I appreciate the hard work!

[2021-06-16 14:26] jasonmccreary commented on #482
I see. Blueprint does not support the `morphToMany` or `morphedByMany` relationships at this time. I have reopened this issue and marked it as an enhancement. Feel free to being a PR if you wish. Otherwise, I'll try to work on it in the coming weeks.

[2021-07-20 21:03] jjjrmy commented on #482
bump

[2021-07-22 01:06] ajcastro opened #484 "Do not use FQCN for model relationships"
Currently, the generated relationships use FQCN for the model. Usually, the models are in the same namespace like `App\Models\` so I would like to have an option to remove the namespace in the model.

Current Behavior:
[code]

Suggested:
[code]

[2021-07-22 01:16] ajcastro opened #485 "The softDeletes should be put after the timestamps"
- Laravel Version: 8.38.0
- PHP Version: 7.4.16
- Blueprint Version: v1.24.1
- Platform: Windows

### Issue:

Currently, when I have softDeletes in the yaml, the softDeletes method is put first before the timestamps. Usually
softDeletes should be put after the timestamps.

Current behavior:

[code]

Expected behavior:

[code]

I already tried explicitly putting timestamps and softDeletes order in

[2021-07-22 13:05] jasonmccreary commented on #484
We should have the namespace for the current model, so determining a prefix match against related models should be straightforward. However, there's always a tricky part.

I'll tag this as an enhancement. Probably won't get to it for a while though. So feel free to open a PR. 👍

[2021-07-22 13:06] jasonmccreary commented on #485
I don't think Blueprint should always put it last. However, it should respect the explicit order from the draft file.

[2021-07-23 06:58] ajcastro commented on #485
Also maybe it is a good default that the softDeletes is put at last.

[2021-07-23 12:24] jasonmccreary commented on #485
The new default will be to put it in the same order as the draft file. It's the most obvious.

[2021-07-27 16:19] sr57 commented on #474
Hi @jasonmccreary
It's Ok.
Thanks for your correction.

[2021-08-03 07:14] mansourcodes opened #489 "Solution for Laravel 8 regarding Models direction."
## Solution for Laravel 8 regarding Models direction.

 Generate Models inside a Models directory starting with Laravel 8  we recommend making the config as:

[code]

[2021-08-03 12:16] jasonmccreary commented on #489
I'm probably going to make Blueprint use Laravel 8 only soon. So this will be a non-issue.

[2021-08-03 12:16] #489 closed

[2021-08-04 10:32] promatik opened #490 "[Bug] Wrong namespace on Model relationship"
- Laravel Version: **8.52**
- PHP Version: **7.4.21**
- Blueprint Version: **dev-master**
- Platform: **Windows**

### Issue:

Hi @jasonmccreary!

I'm using blueprint **dev-master** on my project, and I noticed https://github.com/laravel-shift/blueprint/pull/477 (https://github.com/laravel-shift/blueprint/commit/e446a418c28539f5cd0b6404692dd20930523780 commit) introduced a bug.

The bug happens wh

[2021-08-04 17:10] Wulfheart commented on #476
This should definitely be released.

[2021-08-05 05:35] tabacitu commented on #490
TLDR for the above:

Without PR https://github.com/laravel-shift/blueprint/pull/491, `dev-master` has a bug:
- IF you use `'models_namespace' => 'Models'` in your config
- AND run `Trace`
- THEN then inside the yaml you will have `Models\Address` as the model, instead of `Address`

This creates a disconnect between how things work in `dev-master` as opposed to `v1.24.1`. This bug will then trickle

[2021-08-05 07:47] HRR1337 opened #492 "Duplicate key "hasMany" detected at line .."
- Laravel Version: 8.52.0
- PHP Version: 7.4.19
- Blueprint Version: 1.24.1
- Platform: Windows

### Issue:

Duplicate key "hasMany" detected at line xx when I have multiple hasMany rows.

p.s. the `php artisan blueprint:trace` before `php artisan blueprint:build` is not fixxing the issue here.

### draft.yaml:
[code]

It wont give a error message when you change on of the relationships thats the

[2021-08-05 12:32] jasonmccreary commented on #492
You separate multiple relationships of the same types with commas. So:

[code]

[2021-08-05 12:32] #492 closed

[2021-08-13 15:23] promatik commented on #490
Fixed and merged on #491 🙌

[2021-08-13 15:23] #490 closed

[2021-08-15 14:24] YannikFirre opened #497 "Why store & update does not use factories ?"
Hello,

### Synopsis:
Question or improvement about test generation for the store and update methods.
Related to https://github.com/fidum/laravel-blueprint-pestphp-addon/issues/27

### Proposed Syntax:
Use factory for the data sent in the request as you already do for relationships.

Actually :
https://github.com/laravel-shift/blueprint/blob/67cfc6b01c50545a5f050fa4f88633993e759f21/tests/fixtures/

[2021-08-15 23:06] jasonmccreary commented on #497
This makes the test case more explicit. It's discussed ad nauseam in #220.

[2021-08-15 23:06] #497 closed

[2021-09-11 21:12] mahfoudfx opened #501 "Unable to generate more than one morphTo"
- Laravel Version: 8.59.0
- PHP Version: 8.0.10
- Blueprint Version: 2.0.0
- Platform: Linux

### Issue:
When I try to generate more than one polymorphic relation on a model, the `morphTo` relation generates in the migration file only one relation (the last one by order) but it is Ok for functions in the generated model.
For example : the folowing draft will generate only _resultable_ in the migra

[2021-09-22 23:45] XhaDgr8 commented on #4
i just want to make this work :
models:
  Product:
    user_id: id foreign:users.id
    slug: string:400 unique
    name: string:400
    description: longtext
    status: string:400 default:draft
    variable: booleon default:true
    relationships:
      belongsTo: Category
      belongsToMany: Order
      hasMany: Variant, Review
      morphOne: Price, Meta
#      morphToMany: Media, Tag

  Pric

[2021-10-13 14:20] jtgrimes opened #505 "Defining a Blueprint spec and an OpenAPI spec feel similar... could they be the same?"
(This feature request is less "OMG Blueprint _needs_ this" and more "this would be cool but I don't have time to write it, maybe someone else does?")

### Synopsis:
What if ... Blueprint could read OpenAPI specs to build its tree? The resources in OpenAPI become the models and the paths become the controllers.

I'd be perfectly happy going the other way - if Blueprint could generate an openAPI spe

[2021-10-17 12:36] lintaba opened #506 "Mailable should generate its template file"
### Synopsis:
Currently a mailable generates template with this:
[code]
I think it could be useful to generate the relevant template file too.

### Proposed Syntax:
currently existing syntax could remain unchanged, or can be extended with a parameter, like `view:email.reviewPost`
[code]

### Expected Behavior:
- add an optional parameter to `send` statement (view). default value could be `email.{m

[2021-10-17 23:39] jasonmccreary commented on #506
I'd be open to this if you'd like to start a PR. The only change I would make is a snake or kebab case template name (e.g. `review-post.blade.php`)

[2021-10-18 14:04] lintaba commented on #506
snake/kebab is on the user. I made it to be fully optional and backward compatible, so you have to provide the view:foo-bar / view:fooBar.
a decision that i made (which can be changed) is to prefix the view name with `email.` automatically, so its just `view:reviewPost`, and it creates the file as `resources/views/emails/reviewPost.blade.php`

[2021-11-02 10:49] spham opened #508 "make views folder for match name convention"
### Synopsis:
the name forder with singular
ie: post/index.blade.php

### Proposed Syntax:

so it should store with plural name, if we user conventin for best practice

### Expected Behavior:

[code]

[2021-11-02 12:20] jasonmccreary commented on #508
There is no _official_ naming conventions. Blueprint should follow whatever name you use when referencing your views or the controller prefix.

[2021-11-02 12:20] #508 closed

[2021-11-13 03:29] silicahd commented on #162
I would pay for that feature.

[2021-11-13 03:32] silicahd opened #509 "Livewire and Screencasts"
Honestly it would be amazing to see some livewire generation. However you should also create something like livewire did with screencasts and allow people to pay for your pro videos. I know I would be one of them.   https://laravel-livewire.com/

[2021-11-13 15:51] spham opened #510 "Can't make relationship with user"
Hi
maybe it not a bug

but i cant make a relationship with a User

Cannot declare class CreateUsersTable, because the name is already in use

[code]

[2021-11-15 14:53] jasonmccreary commented on #510
Blueprint doesn't augment existing code at this time. You may use the `trace` command to be able to reference them within Blueprint. But you'll need to add new code, columns, or relationships to them by hand.

[2021-11-15 14:53] #510 closed

[2021-11-15 14:54] jasonmccreary commented on #509
This is probably not something Blueprint will do directly. However, you can create an [add-on](https://blueprint.laravelshift.com/docs/extending-blueprint/).

[2021-11-15 14:54] #509 closed

[2021-11-17 05:30] raymadrona opened #511 "Model namespace not appended in the generated model factory class"
- Laravel Version: 8.62.0
- PHP Version: 7.4.5
- Blueprint Version: 2.0.0
- Platform: Mac | Windows | Linux

### Issue:
When building a model with a namespace, the generated model factory does not append the provided namespace.

[code]

### draft.yaml:
[code]

[2021-11-17 14:13] #511 closed

[2021-11-18 09:44] jvallef opened #513 "Ignore parameters, tags, sections not used by blueprint"
Hi,

Ignore any parameter in fields, in sections or new sections that Blueprint don't use

No proposed syntax, not needed, simply ignore it.

Probably you already implemented in that way, running a quick couple of tests seems it works in that way. Simply keep that in the future, please.

The purpose is to use draft.yaml to be called for other processes for example to generate views or tables, addi

[2021-12-12 21:51] silicahd opened #515 "The project would be nice to have a module option"
I use these other project nwidart for some time. It is nice that it splits all the modules in there own folder. It would be nice to have something like this in blueprint. This way you do not end up with a bunch of files in the same folders for each module.

[](https://nwidart.com/laravel-modules/v6/introduction)](https://nwidart.com/laravel-modules/v6/introduction)

[2021-12-13 11:50] jasonmccreary commented on #515
You may configure Blueprint to output components in other directories. However, specific support for that package is not supported.

[2021-12-13 11:50] #515 closed

[2021-12-27 19:56] benjam-es opened #518 "Update codebase to use newer model namespace/folder structure: app/Models/Foo.php"
### Synopsis:
It would make it simpler to contribute if laravel defaults are up to date. With limited codebase knowledge I tried to create a pull request whilst using (copy and pasting) existing tests. It wasn't immediately clear that blueprint does work correctly in the wild, to produce models in the expected namespace, but test cases force change the namespace setting to keep older written tests

[2021-12-27 20:14] benjam-es opened #519 "Consider v2 using blade templates, and publishable stubs like Laravel"
### Synopsis:
Using a blade template would save on a lot of 'string replace' code. It may also simplify each section within models/controllers. A further benefit of this would make a lot of things flexible for the end users. i.e. I was a pull request discussing plural routes. In this case, it would be achieved by adding .'s' somewhere in the blade template for routes

### Proposed Syntax:

We coul

[2021-12-27 20:21] jasonmccreary commented on #518
Agreed. This is what v2 was for (to align with the latest conventions). I'll take a look at this in my next live stream. In the meantime, feel free to open a PR with the model path defaulting to `app/Models`.

[2021-12-27 20:23] jasonmccreary commented on #519
I'm open to this. Not something I'd refactor on my own. But if someone wanted to open a PR with an example of one of the generators using Blade, I'd consider it.

[2021-12-27 21:12] benjam-es opened #520 "Clean up double lines below the 'casts' stub"
### Synopsis:
When editing stubs, my autosave code cleanup spotted (and removed) double lines below the 'casts' declaration. This is caused by preceding each relationship method with PHP_EOL. The first relationship adds PHP_EOL which follows the whitespace at the bottom of the 'casts' stub.

### Proposed Syntax:
Simple check, to display PHP_EOL only from the second relationship onward.

### Expect

[2021-12-28 19:51] benjam-es commented on #520
Merged

[2021-12-28 19:51] #520 closed

[2021-12-29 06:16] ManojKiranA opened #523 "Add Foreign key column to Relationship in Model"
### Synopsis:

While creating a model columns with custom column name `(doesn't follow laravel convention)`. It doesn't add column name to relation.

So let's say i have following Yaml

**Sample 1**
[code]

### Expected Behavior:

While generating Model relations It can automatically add `created_by_id` as second argument. And

[code]

**Sample 2**
[code]

### Expected Behavior:

While generating

[2021-12-29 13:44] #484 closed

[2021-12-29 13:52] #482 closed

[2021-12-29 14:11] jasonmccreary commented on #513
I'll need an example of a syntax which is Blueprint compatible but has extra data.

[2021-12-29 14:11] #513 closed

[2021-12-29 14:12] jasonmccreary commented on #505
Closing due to no activity. May be related to #513.

[2021-12-29 14:12] #505 closed

[2021-12-29 14:13] jasonmccreary commented on #501
@mahfoudfx, we just merged some PRs relating to polymorphic relationships. Could you check this again using `dev-master`?

[2021-12-29 14:16] jasonmccreary commented on #441
Closing due to inactivity. Open to PRs from the community.

[2021-12-29 14:16] #441 closed

[2021-12-29 14:17] jasonmccreary commented on #465
I think you could make your own command that does this, then calls `blueprint:build`.

[2021-12-29 14:17] #465 closed

[2021-12-29 15:06] benjam-es opened #525 "Include pest for improved speed and CLI output"
### Synopsis:
Benefit from parallel testing and improved CLI user interface by offering pest. Composer script to run tests in either phpunit or pest

### Proposed Syntax:
n/a

### Expected Behavior:
Testing improvements

[2021-12-29 15:09] jasonmccreary commented on #525
I'm glad to add an option to generate Pest tests within Blueprint.

I do believe there is a community add-on which does this already though. Maybe they could open a PR. 😅

[2021-12-29 15:18] benjam-es commented on #525
@jasonmccreary this is just for running the tests within Blueprint

[2021-12-29 15:19] jasonmccreary commented on #525
Thanks, but Blueprint uses PHPUnit, and I'm fine with their runner.

[2021-12-29 15:19] #525 closed

[2021-12-29 15:23] #518 closed

[2021-12-29 15:39] benjam-es opened #527 "Extract common functionality into an abstract class generator"
### Synopsis:
Extract common functionality into an abstract/base class generator to clean up and simplify code within all generators

### Proposed Syntax:
Some functions will need editing to 'standardise' them before extracting them out such as getPath, buildImports etc. Use blueprint model contract so that we can type hint that in place of the passed blueprint models within common functions.

###

[2021-12-29 15:43] jasonmccreary commented on #527
@benjam-es, I'm open to cleaning this up. There are several methods which are "copied" between the generators.

However, I am not looking to create multiple class inheritance. Said another way, any PR would need to actually reduce code. Not add a bunch more classes and move the code.

[2021-12-30 21:45] benjam-es commented on #527
@jasonmccreary I won't put in a pull request on this one unless requested, as its quite a lot of changes, and some of it may be too opinionated, and/or not how you want things.

Here is a look at reducing around 300+ lines [https://github.com/laravel-shift/blueprint/compare/master...benjam-es:enhancement/refactoring](https://github.com/laravel-shift/blueprint/compare/master...benjam-es:enhancement

[2022-01-02 13:22] benjam-es opened #528 "Stubs/config publish 'improvement'"
### Synopsis:
It looks like the current method of publishing the 'stubs' files, is to use ```php artisan vendor:publish --tag=...``` which is usable. I think there may be room for improvement. Similarly it might be useful to complete multiple steps in one line (new, publish stubs, publish config)

### Proposed Syntax:
Use a new command for config publishing, which then simply calls the vendor:publ

[2022-01-02 13:31] benjam-es opened #529 "New draft.yaml syntax - config"
### Synopsis:
As a further improvement to the configurability of the package, we could simplify things for those who want to make single simple changes to the configuration often, without needing to publish the full config file and make an edit, then re-run the build command

### Proposed Syntax:
[code]

### Expected Behavior:
Streamline the process for users who often just need simple tweaks. Als

[2022-01-02 16:09] jasonmccreary commented on #528
I'm open to this.

**Note:** in the future if you already have code, just open the PR. No need for the issue, then the PR.

[2022-01-02 16:11] jasonmccreary commented on #529
Having a superseding way to overwrite config in the Draft file could be helpful for those one-offs. Much like config in a `phpunit.xml` file. However, we shouldn't replace the config file entirely. Just allow temporarily adjusting it for a build.

[2022-01-02 21:24] benjam-es commented on #528
Noted.

Sorry, just created issues as an idea comes to mind. Been binge watching some of the blueprint videos since I came across it.

[2022-01-03 18:27] #528 closed

[2022-01-03 19:36] benjam-es commented on #164
@jasonmccreary this may be resolved already?

[2022-01-03 21:14] jasonmccreary commented on #164
@benjam-es, I am not sure. I don't think so though. The Blueprint stubs seem to still have their own placeholders.

[2022-01-03 21:49] benjam-es commented on #164
I must have mis-read. Ignore me.

I thought the issue seemed to request the ability to simply publish blueprint stubs, then for the end used to modify their own view stub (which was already in place)

[2022-01-04 23:40] jasonmccreary commented on #527
@benjam-es, I am open to this. I do think it's a good streamline. Feel free to open a PR.

A few points I'll make early on though:

- Please mind the code style (Laravel)
- Not all classes use the same properties. I understand consolidating them. I wonder if the individual traits should be added to the classes that use them instead of on the abstract class.
- I'm reluctant to add any more interfac

[2022-01-07 18:10] benjam-es commented on #527
I opted for using the traits rather than methods on the abstract class directly so they could be used in other places if needed. Went with an abstract/base class, as there were other repeated blocks of code which were also worth keeping in one place, such as the constructor, file initialisation, 'type' getting - reduced to single class property.

i'll make a pull request, and make changes where ne

[2022-01-13 18:17] benjam-es commented on #527
closed by #532

[2022-01-13 18:17] #527 closed

[2022-01-13 18:30] benjam-es commented on #519
After a few pull requests, and understanding the package better, I think we could probably just lose this as an issue?

I still see the benefit in being able to use blade, and the logic within 'views' to remove a lot of string replace etc. However, this is likely to lose the simplicity of the stubs, and make it a bigger task for the user who wants to customise stubs. The simple stubs are how larav

[2022-01-13 19:23] jasonmccreary commented on #519
I'd still like to see a convergence of the Blueprint stubs with the Laravel stubs. Ideally, Blueprint doesn't have its own.

[2022-01-13 22:26] benjam-es commented on #519
Are you referring to making blueprint start using laravel stubs?. I think that may be different to this original issue I raised.

This issue was suggesting that the package have a full blade view

[2022-01-13 22:42] jasonmccreary commented on #519
Gotcha. Closing.

[2022-01-13 22:42] #519 closed

[2022-01-13 23:29] #485 closed

[2022-01-14 12:49] benjam-es commented on #501
Fixed.

[2022-01-14 13:25] #501 closed

[2022-01-14 13:26] jasonmccreary commented on #501
@benjam-es, if you put `Closes #501` in your PR description, GitHub will automatically close the issue after merging.

[2022-01-23 17:02] ammimounir opened #537 "Relationships duplicated"
- Laravel Version: 8
- PHP Version: 8
- Blueprint Version: 2.1.0
- Platform: Windows |

### Issue:

### draft.yaml:
[code]

[2022-01-23 17:09] jasonmccreary commented on #537
Blueprint automatically creates the `belongsTo` relationship when using the `id` constraint. Although the DX could be to ignore the explicit specification, ideally, there's no need to write it in the first place.

[2022-01-23 17:09] #537 closed

[2022-01-23 17:10] ammimounir commented on #537
Wow. Thank you for the heads up.
really smooth package 👍👍👍👍

[2022-01-30 04:28] alagiesellu opened #540 "Enable Blueprint to be able to undo file updates."
### Synopsis:
When blueprint updates a file like the web.php route file, the rollback command does not undo the update action.

### Proposed Syntax:
So what if blueprint will always commend on any file it updates, comments will enable blueprint to know the lines of code it has added to the file so that when you roll back a build, blueprint can the lines of code it wrote and then remove them.

###

[2022-02-09 07:57] spham opened #541 "laravel9 install issue"
hi
just for this in fresh laravl 9
[code]

[2022-02-10 08:24] tabacitu commented on #541
L9 support is coming 😀

@laravel-shift just pushed a BIG commit 12 hours ago, adding L9 support - https://github.com/laravel-shift/blueprint/commit/a612da5d194ccb213d434241e5fd8ea18bb2c62b but it hasn't been tagged/released yet.

[2022-02-11 18:11] benjam-es commented on #479
@rafapaulino I've made a pull request for this (#545) although in your code above, you could have just left out declaring $tree (and probably the constructor in full), and it would have worked?

[2022-02-11 18:12] #479 closed

[2022-02-16 03:07] shepherdscribe opened #546 "SoftDeletes Issue"
- Laravel Version: 8.0
- PHP Version: 8.0
- Blueprint Version: 2.2
- Platform: Mac

### Issue:
softDeletes issue on model factory still treats it as string.
<img width="814" alt="Screen Shot 2022-02-16 at 11 04 33 AM" src="https://user-images.githubusercontent.com/62448059/154188301-4d913ff1-522c-4c9e-905b-1ee844af3965.png">

### draft.yaml:
[code]
Address:
    client_id: unsignedBigInteger foreig

[2022-02-16 19:05] cjfloss opened #547 "The method 'assertDeleted' does not exists, use 'assertModelMissing' instead"
The method assertDeleted was removed in Laravel 9 https://github.com/laravel/framework/pull/39661

https://github.com/laravel-shift/blueprint/blob/a612da5d194ccb213d434241e5fd8ea18bb2c62b/src/Generators/TestGenerator.php#L422

[2022-02-16 19:06] jasonmccreary commented on #547
Good catch. Could you make a quick PR for this?

[2022-02-17 17:31] tanthammar opened #548 "Laravel 9, Scout fullText index"
### Synopsis:
Laravel 9 comes with a database driver for Laravel Scout. It would be great if we could add support for `fullText` indexes which is one of the recommended data types.

### Proposed Syntax:

`foo: fullText` should output `$table->fullText('foo')` in migrations

### Expected Behavior:

I hoped it was enough to add `'fullText' => 'fullText', ` to the `ModelLexer->dataTypes` array, but i

[2022-02-17 17:59] jasonmccreary commented on #548
I like it. Feel free to take a stab at a PR.

[2022-02-18 09:20] dmason30 opened #549 "Dispatch Statement - Undefined array key 1"
- Laravel Version: 9.x
- PHP Version: 8.x
- Blueprint Version: 2.3
- Platform: Mac

### Issue:
On my pest php extension @tanthammar raised this issue (https://github.com/fidum/laravel-blueprint-pestphp-addon/issues/33) about a exception that occurs when generating a dispatch statement when the variables used have no context.

I ran the same yaml on pure blueprint without my extension and encounter

[2022-02-18 18:29] jasonmccreary commented on #549
@dmason30, do you want to open a PR with this fix. Otherwise, I'll try to get to it early next week.

[2022-02-19 17:39] #548 closed

[2022-02-20 12:17] UnimartTeam opened #552 "Error in installing Blueprint with Laravel 8"
- Laravel Version: 8.75
- PHP Version: 8.0
- Blueprint Version: 2.3
- Platform: Windows

### Issue:

  Problem 1
    - Root composer.json requires laravel-shift/blueprint ^2.3 -> satisfiable by laravel-shift/blueprint[v2.3.0].
    - laravel-shift/blueprint v2.3.0 requires illuminate/console ^9.0 -> found illuminate/console[v9.0.0-beta.1, ..., 9.x-dev] but these were not loaded, likely because it c

[2022-02-20 12:21] jasonmccreary commented on #552
Blueprint always supports the latest version of Laravel.

Laravel 8 support ended with 2.2. You may lock that version to use Blueprint with Laravel 8, but it will not receive additional features or bug fixes.

[2022-02-20 12:21] #552 closed

[2022-02-24 23:31] dmason30 commented on #549
@jasonmccreary PR created at #553

[2022-02-25 10:56] #549 closed

[2022-02-26 17:47] dmason30 commented on #547
@jasonmccreary Just fixed this on the pest extension 😄

Submitted PR https://github.com/laravel-shift/blueprint/pull/554

[2022-02-26 18:56] #547 closed

[2022-02-26 18:57] jasonmccreary commented on #547
@dmason30, cool. In the future, feel free to put everything in the PR to save yourself time opening issues/etc.

[2022-02-26 22:39] dmason30 commented on #547
@jasonmccreary confused 🤣 I didn’t create this issue 🤔 ?

[2022-03-08 18:12] Robovize commented on #541
I have the same issue but with Laravel  8.83.4

[2022-03-09 07:11] TiiFuchs commented on #271
So this was added a while ago, but since the docs do not describe how to use it, it took me a while to stumble upon this issue.

Maybe this should be added to the docs?

[2022-03-12 17:59] CharlieNH opened #555 "Install 2.3 fails on Illuminate/Console ^9.0"
- Laravel Version: 8.83.4
- PHP Version: 7.4.19
- Blueprint Version: 2.3.0
- Platform: Windows, Laragon

### Issue:
In a clean new Laravel project I installed Backpack and Backpack Generator with no problem.
When I tried to install Blueprint 2.3 it failed:

composer require --dev laravel-shift/blueprint
Info from https://repo.packagist.org: #StandWithUkraine
Using version ^2.3 for laravel-shift/bl

[2022-03-12 18:28] jasonmccreary commented on #555
You're still running Laravel 8. Blueprint 2.3 and above require Laravel 9. [Use Shift to upgrade Laravel](https://laravelshift.com/upgrade-laravel-8-to-laravel-9) quickly.

[2022-03-12 18:28] #555 closed

[2022-03-23 10:04] AMAFsoft commented on #555
Same error after installing on a fresh laravel 9

[2022-03-23 12:19] arnonm opened #556 "Ability to add declare(strict_types=1) to all generated files"
### Synopsis:
Central method to add declare(strict_types=1) to all files generated

### Proposed Syntax:
Add a flag in the config: blueprint.strict_types - default as false

### Expected Behavior:
When set to false - no change
When set to true - all files have the strict_types line added after php tag and before namespace

[2022-03-23 12:22] jasonmccreary commented on #556
I'm open to a `strict_types` option set to `false` by default. Feel free to start a PR. Otherwise, I'll get around to it in the coming weeks.

In the meantime, there is a new task to "Declare strict types" in the [Shift Workbench](https://laravelshift.com/workbench).

[2022-03-23 12:23] arnonm opened #557 "Ability to add default newFactory() method to newly generated models"
### Synopsis:
From Laravel documentation: https://laravel.com/docs/9.x/database-testing
The HasFactory trait's factory method will use conventions to determine the proper factory for the model the trait is assigned to. Specifically, the method will look for a factory in the Database\Factories namespace that has a class name matching the model name and is suffixed with Factory. If these conventions

[2022-03-23 15:16] jasonmccreary commented on #557
I'm not sure I understand the motivation behind adding this method when Blueprint would generate conventions models. Said another way, when would Blueprint generate a model factory Laravel could not _guess_?

[2022-03-23 17:14] jasonmccreary commented on #555
Sorry, but I am unable to reproduce this error. It's likely you have another dependency conflicting with Blueprint. Composer doesn't always point directly to the conflicting package.

[2022-03-24 09:27] AMAFsoft commented on #555
Its a fresh Laravel installation.

However , I've solved this issue by using v2.2.0.

[2022-04-01 11:54] lykke-vashetsin opened #561 "DateRangePicker issue when current date is 31st of any month and maxDate prod equals to current date"
- Blueprint Version:
    "@blueprintjs/core": "^3.51.3",
    "@blueprintjs/datetime": "^3.23.19"
- Platform: both mac and windows

### Issue:
It happens in DateRangePicker control when maxDate={currentDate} and currentDate=31st date of any month (e.g. January, March, May, etc.). you can see on screenshot that maxDate equals current date (it was done on 31st March)..
there are two problems: UI is s

[2022-04-01 11:58] jasonmccreary commented on #561
This has nothing to do with Blueprint.

[2022-04-01 11:58] #561 closed

[2022-04-04 11:26] lykke-vashetsin commented on #561
what is this then?
https://blueprintjs.com/docs/#datetime/daterangepicker

[2022-04-04 11:33] jasonmccreary commented on #561
A completely different library (and language) with the same name. 😉

[2022-04-05 08:43] lykke-vashetsin commented on #561
indeed :)

[2022-05-16 23:08] mgkimsal commented on #546
FWIW, it's still doing this on blueprint 2.3 (as of today)

[2022-05-16 23:48] jasonmccreary commented on #546
Very strange. Seems the factory is keeping a literal "softdeletes" column name. Open to PRs. Otherwise, this will probably need to wait until June.

[2022-05-19 05:13] cassiuscrr opened #562 "Composer Install Error Version"
- Laravel Version: 8.83.13
- PHP Version: 7.4.19
- Platform:  Windows

### Issue:
[code]

[2022-05-19 10:46] jasonmccreary commented on #562
Blueprint only supports the latest version of Laravel. If you're still running Laravel 8.x, you'll need to lock Blueprint to `2.2`. Note, inline with the _Support Policy_, this version will no longer receive updates. I encourage you to upgrade to Laravel 9.x. You may use [Laravel `Shift](https://laravelshift.com/)` to upgrade quickly.

[2022-05-19 10:46] #562 closed

[2022-05-20 16:28] mgkimsal commented on #546
@jasonmccreary https://github.com/mgkimsal/blueprint/commit/1d5ca05a51aa295165b2aa84fee04240d7156331

haven't done a specific PR because... the ModelLexerTest breaks

[code]

The assertCount fails - it's not 2 any more, because my patch unset()s the softdeletes column.  This *works* around the Factory bug from above - softdeletes is not treated as a column name.  BUT... the test breaks here.   I w

[2022-05-22 20:00] #546 closed

[2022-05-22 20:01] jasonmccreary commented on #546
Please check this was resolved in #565 by targeting `dev-master`. Let me know if so and I'll tag a release.

[2022-05-23 11:34] mgkimsal commented on #546
@jasonmccreary I didn't see the same problem appear now.  I'm too early in this project to see if there are any other impacts, but I don't suspect so.

[2022-05-23 12:11] jasonmccreary commented on #546
@mgkimsal, good enough for me. I'll tag a patch release shortly.

[2022-05-29 13:44] digitall-it commented on #541
I installed the version 2.4 on Laravel 9.11 without any problems.

[2022-05-30 09:16] tabacitu commented on #541
Yup, can also confirm it's working. L9 support was launched on Feb 13th 2022, in [v2.3.0](https://github.com/laravel-shift/blueprint/releases/tag/v2.3.0) 🎉

This issue should be closed.

[2022-05-30 20:11] #541 closed

[2022-06-28 04:32] mallardduck opened #566 "Cannot used tabbed list for `relationships` field"
I am seeing an issue where a list of relationships gets mashed into a single long relationship.

Looking things over, I found an oddly named variable doing a bool check. That is here:

https://github.com/laravel-shift/blueprint/blob/7291204abd56c3d3071f3c1997b57f98fd8358c4/src/Builder.php#L17

Based on the actual logic being checked I would have expected this variable to be named `$notUsingIndex`

[2022-06-28 16:24] #566 closed

[2022-06-28 16:46] mallardduck commented on #566
I was having two issues ultimately - on odd one with how `.blueprint` cache and `indexes:` work; the other one related to how the Lexer handles relationships.

To clarify the Lexer issue - here's an example of something that's valid yaml:

[code]

You get this error though:
[code]

---

The former issue is a bit more complex to explain - especially as a first time user scanning old commits. One th

[2022-06-30 11:55] jasonmccreary commented on #566
@mallardduck, Blueprint uses YAML. But it doesn't necessarily support all the various ways you might structure the data.

In this case, as you found in the docs, relationships are a comma separated string - not an array/list.

[2022-07-13 16:10] maurohmartinez opened #568 "Custom name for column of type id"
### Synopsis:
It will be nice to be able to generate a migration with a column of type id and with a custom name. For example:

[code]
For example...
[code]
the above generates relationships which are not needed since `custom_name_id` is supposed to be the primary key model and column.

### Proposed Syntax:
-

### Expected Behavior:
-

[2022-07-13 17:46] jasonmccreary commented on #568
This behavior exists ([doc reference](https://blueprint.laravelshift.com/docs/keys-and-indexes/#model-keys-indexes)).

Basically, you would write:

[code]

[2022-07-13 17:46] #568 closed

[2022-07-14 11:38] maurohmartinez commented on #568
@jasonmccreary Thanks for your reply!

Not sure this achieves what I need. Imagine I create a Model named `Car` and I want the migration file for `cars` table to have a primary id defined like this `$table->id('custom_id');` instead of `$table->id();` which also happens to be the primary key for `Car` Model.

When trying your solution `custom_id: id foreign:car.id` I get as a result a migration fi

[2022-07-14 12:03] jasonmccreary commented on #568
I believe this is possible within Blueprint. However, it would be helpful if you provided a short YAML definition instead of the final code. This lets me know what you tried.

[2022-08-30 21:35] mateoworks commented on #305
Is changing table names currently available?
What is the way to use it?

[2022-08-31 09:57] jasonmccreary commented on #305
You may change it after the fact. Blueprint is built around Laravel conventions.

[2022-09-12 16:39] mahfoudfx opened #572 "Specifying size of integer columns"
- Laravel Version: 9.29.0
- PHP Version: 8.10.0
- Blueprint Version: 2.4.0
- Platform: Mac | Windows | Linux

### Issue:
When using size attribute with any integer blueprint integer (bigInteger, mediumInteger, tinyInteger, smallInteger, etc...), it will generate a Laravel migration format that call SQL to create a Primary Key with Auto Increment.
Please check this similar generated [Issue](https:/

[2022-09-14 16:09] mahfoudfx commented on #572
As stated in the [link](https://stackoverflow.com/questions/28884918/laravel-table-there-can-be-only-one-auto-column-and-it-must-be-defined-as-a-key) of my previous post:

Syntax error or access violation: 1075 Incorrect table definition; there can be only one auto column and it must be defined as a key")

So this syntax is Ok for string but not for integers.
I have to admit that when I first inve

[2022-10-05 14:22] jasonmccreary commented on #556
Revisiting this, between the ability to customize the stubs and the free task in the [Shift Workbench](https://laravelshift.com/workbench), there are ways to do this without needing to build more custom options.

As such, I'm closing this issue. However, if you (or someone reading this in the future) wants to submit a PR, I'm glad to review it.

[2022-10-05 14:22] #556 closed

[2022-10-05 14:28] jasonmccreary commented on #540
This is a known limitation of Blueprint. The amount of tracking/code to do this properly is not worth the effort in my opinion. I will gladly access a PR which addresses this issue.

For me, I wouldn't even use Blueprint to "undo" a mistake, I'd use `git`. For example, `git reset --hard` or, more surgically, `git checkout -- routes/web.php`.

[2022-10-05 14:28] #540 closed

[2022-10-05 14:42] jasonmccreary commented on #478
This is not something that seems to have gotten any more attention. Furthermore, it creates a slippery slope. If this is configurable, then all paths become configurable. The whole point of Blueprint is its ability to leverage Laravel conventions.

As such, I am closing. However, I am open to a PR if you (or someone reading this in the future) wants to submit a PR adding a configuration option.

[2022-10-05 14:44] jasonmccreary commented on #458
Similar to #540, the amount of tracking/code to do this properly is not worth the effort in my opinion. I will gladly accept a PR which addresses this issue.

For me, I wouldn't even use Blueprint to "undo" a command, I'd use Git. For example, `git reset --hard` or, more surgically, `git checkout -- routes/web.php`

[2022-10-05 14:44] #458 closed

[2022-10-05 14:45] jasonmccreary commented on #444
Since there are no updates on this. I am closing. If you or a future reader wants to submit a PR adding this, I will gladly merge it.

[2022-10-05 14:45] #444 closed

[2022-10-05 17:58] jasonmccreary commented on #480
Merged in #574

[2022-10-05 17:58] #480 closed

[2022-10-05 17:58] jasonmccreary commented on #529
Merged in #575.

[2022-10-05 17:58] #529 closed

[2022-10-05 17:59] #557 closed

[2022-10-06 19:05] jasonmccreary commented on #572
Gotcha. Feel free to submit a PR with the fix. Otherwise, I will patch this in a [future live stream](https://www.youtube.com/watch?v=xCHi-JswDgI&list=PLmwAMIdrAmK5q0c0JUqzW3u9tb0AqW95w&index=33).

[2022-10-06 19:07] jasonmccreary commented on #523
Feel free to submit a PR with the fix. Otherwise, I will patch this in a [future live stream](https://www.youtube.com/watch?v=xCHi-JswDgI&list=PLmwAMIdrAmK5q0c0JUqzW3u9tb0AqW95w&index=33).

[2022-10-15 10:30] dannyrevenant opened #578 "Update mail.stub to use new Mailable syntax"
### Synopsis:
In [this PR](https://github.com/laravel/framework/pull/44462), Taylor updated the default syntax for Mailables. This is now the default in laravel core and in the docs.

### Proposed Syntax:
As per the docs/repo, but presumably without the __construct as I think we usually skip that?

### Expected Behavior:
mail.stub is generated with the new syntax

I think this should "just work"

[2022-10-15 13:23] jasonmccreary commented on #578
While Blueprint does aim to be the latest, greatest with Laravel features, this might be too fast.

I'm glad to do this after the Laravel X release. But for now, we'll keep the _Mailables_ as they were at the time of Laravel 9's release.

If you want this, you can update your own Mailable stub or submit a PR with a configuration option to use the "new" syntax.

[2022-10-15 13:23] #578 closed

[2022-10-19 15:43] #506 closed

[2022-10-25 18:42] #431 closed

[2022-11-05 20:06] jasonmccreary commented on #369
Going to close this as all Laravel projects come with a `User` model. As such, you don't need to generate one with Blueprint.

If for some reason you wanted to, my suggestion would be to do so under a different name, then copy the relevant generated code back to the existing `User` model.

[2022-11-05 20:06] #369 closed

[2022-11-13 23:19] #305 closed

[2022-11-13 23:20] #328 closed

[2022-11-13 23:24] jasonmccreary commented on #42
I think I will add this using the new `meta` key now available in Blueprint. Hopefully in a future stream, but if someone in this thread wants to take a stab at an initial PR that'd help speed things up.

Here's what I'm thinking:

[code]

`policies` could also be `true` to automatically add it to all the actions defined.

[2022-11-27 15:45] kmizzi opened #582 "Support for customizable directory for generated files (to support Modules)"
### Synopsis:

Most use cases of needing blueprint for us would be to integrate with 3rd party APIs with a lot of new models needed.  For this, we use https://github.com/nWidart/laravel-modules.  It would be great if there was a flag on the blueprint:build command to allow the use of alternative destinations for the generated files aside from the app folder.
### Proposed Syntax:
php artisan bluepr

[2022-11-27 15:47] kmizzi commented on #582
It would also be great to have a flag for alternative directory name for modules such as --modelDir=Entities

[2022-11-27 19:04] jasonmccreary commented on #582
Blueprint is based off Laravel conventions. "modules" are a separate practice with their own conventions. As such, it's not something Blueprint will support directly.

With that said, a few configuration options exist that would allow you to generate code with different namespaces. From there you could move the files to whatever custom structure you want.

Of course, you are always welcome to make

[2022-11-27 19:04] #582 closed